.leaflet-container {
    z-index: 1;
}
.contacts {
    padding-bottom: 2px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 27px;
        span, a {
            display: block;
            color: $whiteBasic;
        }
        & > div {
            &:nth-of-type(2) {
                @include media($xsPlus) {
                    order: 3;
                }
            }
            &:nth-of-type(3) {
                @include media($xsPlus) {
                    max-width: 90%;
                }
            }
        }
    }
    &__item {
        &:nth-of-type(2) {
            margin-top: 28px;
        }
        p, a {
            font-size: 26px;
            line-height: 35px;
        }
        a {
            &:nth-of-type(2) {
                margin-top: 15px;
            }
        }
        .underline {
            width: fit-content;
        }
        &-title:is(span) {
            margin-bottom: 5px;
            color: $colorGreyText;
            @include media($xsPlus) {
                font-size: 15px;
                line-height: 22.5px;
            }
        }
    }
    &__map {
        height: 600px;
        width: 100%;
        margin-top: 80px;
        @include media($md) {
            margin-top: 60px;
        }
        .leaflet-container {
            background-color: #333333;
        }
    }
}
