.main-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--tab-container-background);
    backdrop-filter: blur(5px);
    box-shadow: 0 15px 10px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 16%);
    width: 100vw;
    z-index: 2;
}
.p-tabmenu-nav {
    justify-content: center;
}
