.consult {
    background-color: $whiteBasic;
    color: $blackBasic;
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: visible;
    @include media($md) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include media($xsPlus) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__title {

    }
    .errors {
        display: none;
    }
    .d-flex-between-center {
        column-gap: 20px;
        row-gap: 32px;
        @include media($md) {
            flex-wrap: wrap;
        }
        @include media($xsPlus) {
            row-gap: 20px;
        }
        .custom-input {
            width: 100%;
        }
        & > div {
            @include media($md) {
                width: calc(50% - 20px);
            }
            @include media($xsPlus) {
                width: 100%;
            }
        }
        .btn {
            @include media($md) {
                width: calc(50% - 20px);
            }
            @include media($xsPlus) {
                width: 100%;
            }
        }
    }
    .mx-datepicker {
        width: 100%;
        .mx-input {
            @include transition(color)
        }
        &.error {
            .mx-input {
                border: 1px solid #F82D2D;
                border-radius: 4px;
                color: #F82D2D;
                &::placeholder {
                    color: #F82D2D;
                }
            }
        }
        &.success {
            .mx-input {
                border: 1px solid #0B8E4E;
                border-radius: 4px;
            }
        }
    }
}
