.form {
    display: flex;
    height: 100%;
    @include media($xsPlus) {
        font-size: 15px;
        line-height: 20px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__img {
        width: 50%;
        object-fit: cover;
        height: 100%;
        @include media($smPlus) {
            display: none;
        }
    }
    &__content {
        padding: 120px 180px 120px 120px;
        width: 100%;
        @include media($md) {
            padding: 80px;
        }
        @include media($sm) {
            padding: 60px;
        }
        @include media($xsPlus) {
            padding: 20px;
        }
        & > .d-flex {
            margin-top: 30px;
        }
    }
    .btn {
        width: 100%;
        margin-top: 30px;
    }
    .custom-input {
        margin-top: 25px;
        width: 100%;
        &:first-of-type {
            margin-top: 35px;
        }
    }

}
