.sidebar {
    position: fixed;
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    background: $colorBlackBg;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #0b213f;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    z-index: 1100;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 110vh;
        width: 100vw;
        z-index: 22222222;
        background-color: $colorBlackBg;
        transition: transform .6s ease-out;
    }
    &.layout {
        &:before {
            transform: translateY(110%);
        }
    }
    &__content {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        z-index: 222222;
        right: 125px;
        top: 45px;
        @include media($mdPlus - 1) {
            right: 50px;
        }
        @include media($sm) {
            right: 50px;
            top: 50px;
        }
        @include media($xsPlus) {
            right: 20px;
            top: 20px;
        }
    }

    &__close {
        background-color: transparent;
    }

    &--left {
        top: 0;
        left: 0;
        width: 20rem;
        height: 100%;

        &.sidebar-enter-from,
        &.sidebar-leave-to {
            transform: translateX(-100%);
        }
    }

    &--right {
        top: 0;
        right: 0;
        width: 20rem;
        height: 100%;

        &.sidebar-enter-from,
        &.sidebar-leave-to {
            transform: translateX(100%);
        }
    }

    &--top {
        top: 0;
        left: 0;
        width: 100%;

        &.sidebar-enter-from,
        &.sidebar-leave-to {
            transform: translateY(-100%);
        }
    }

    &--bottom {
        bottom: 0;
        left: 0;
        width: 100%;

        &.sidebar-enter-from,
        &.sidebar-leave-to {
            transform: translateY(100%);
        }
    }

    &--full {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition: none;
        transition: none;

        &.sidebar-enter-from,
        &.sidebar-leave-to {
            opacity: 0;
        }

        &.sidebar-enter-active,
        &.sidebar-leave-active {
            transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition-duration: 0.2s;
        z-index: 1099;

        &-enter {
            animation: sidebar__overlay-enter-animation 150ms forwards;
        }

        &-leave {
            animation: sidebar__overlay-leave-animation 150ms forwards;
        }
    }
}

@keyframes sidebar__overlay-enter-animation {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.4)
    }
}

@keyframes sidebar__overlay-leave-animation {
    from {
        background-color: rgba(0, 0, 0, 0.4)
    }
    to {
        background-color: transparent;
    }
}
