.proposals {
    &__wrapper {
        row-gap: 60px;
    }
    &__item {
        position: relative;
        @include media($md) {
            height: 675px;
        }
        @include media($sm - 1) {
            height: fit-content;
        }
        &-img {
            object-fit: cover;
            height: 100%;
            @include media($sm - 1) {
                height: auto;
                object-fit: contain;
            }
        }
        &-place {
            color: $colorGreyText;
        }
        &-content {
            background-color: $colorBlackBg;
            padding: 40px 40px 77px 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 60px;
            width: 445px;
            @include media($sm - 1) {
                position: relative;
                top: unset;
                right: unset;
                width: 100%;
                transform: unset;
                padding: 20px 20px 30px 20px;
                border: 1px solid #4F4F4F;
                border-top: unset;
                border-radius: 2px;
            }
        }
        .d-flex-start-center {
            margin-top: 20px;
            margin-bottom: 20px;
            flex-wrap: wrap;
            gap: 10px;
            .chip {
                font-size: 13px;
                line-height: 19px;
            }
        }
        .d-flex-between-center {
            margin-top: 12px;
            @include media($sm - 1) {
                margin-top: 8px;
            }
            span {
                @include media($sm - 1) {
                    font-size: 15px;
                    line-height: 20px;
                }
                &:first-of-type {
                    color: $colorGreyText;
                }
            }
            &:first-of-type {
                margin-top: 0;
            }
        }
        &-title {
            margin-top: 5px;
        }
        .btn {
            margin-top: 40px;
            @include media($sm - 1) {
                margin-top: 30px
            }
        }
    }
}
