.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-flex-standard {
    display: flex;
    align-items: center;
}
.d-flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-flex-justify-between {
    display: flex;
    justify-content: space-between;
}
.d-flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.d-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.d-inline-flex-center-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-grid {
    display: grid;
}

.d-inline-flex {
    display: inline-flex;
}

.d-inline-block {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
}

.position-unset {
    position: unset;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.m-b-20 {
    margin-bottom: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.underline {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        bottom: -2px;
        left: 0;
        background-color: $whiteBasic;
    }
}

.b-rad-5 {
    border-radius: 5px;
}
