// CONTAINERS
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content-right-container,
.content-left-container {
    display: grid;
    & > * {
        min-width: 0;
    }
}
.content-right-container > .content-right,
.content-left-container > .content-left {
    grid-column-end: span 2;
}
.content-left-container > .content-left{
    grid-column-start: 2;
}
.content-right-container > .content-right{
    grid-column-start: 1;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-left: $gridPaddingSpacing;
    padding-right: $gridPaddingSpacing;
    position: relative;

    @include media($xs) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.row, .row-2, .row-3, .row-4,
.row-5, .row-6 , .row-10 {
    display: grid;
    margin-left: -$gridPaddingSpacing;
    margin-right: -$gridPaddingSpacing;
}
.row {
    grid-template-columns: repeat(12, 8.3333%);
}
.row-2 {
    grid-template-columns: repeat(2, 50%);
}
.row-3 {
    grid-template-columns: repeat(3, 33.3333%);
}
.row-4 {
    grid-template-columns: repeat(4, 25%);
}
.row-5 {
    grid-template-columns: repeat(5, 20%);
}
.row-6 {
    grid-template-columns: repeat(6, 16.6667%);
}
.row-10 {
    grid-template-columns: repeat(10, 10%);
}



.col-1{
    grid-column-end: $span1;
}
.col-2{
    grid-column-end: $span2;
}
.col-3{
    grid-column-end: $span3;
}
.col-4{
    grid-column-end: $span4;
}
.col-5{
    grid-column-end: $span5;
}
.col-6{
    grid-column-end: $span6;
}
.col-7{
    grid-column-end: $span7;
}
.col-8{
    grid-column-end: $span8;
}
.col-9{
    grid-column-end: $span9;
}
.col-10{
    grid-column-end: $span10;
}
.col-11{
    grid-column-end: $span11;
}
.col-12{
    grid-column-end: $span12;
}


@media (max-width: $xs) {
    .content-right-container,
    .content-left-container{
        grid-template-columns: 100%;
    }
    .content-right-container > .content-right,
    .content-left-container > .content-left {
        grid-column-end: unset;
        grid-column-start: unset;
        padding: 0 20px;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .row {
        margin-left: -16px;
        margin-right: -16px;
    }
}
@media (min-width: $xs + 1) {
    .container {
        margin-right: $containerMarginXs;
        margin-left: $containerMarginXs;
    }
    .content-right-container,
    .content-left-container {
        grid-template-columns: $containerMarginXs 1fr $containerMarginXs;
    }
    .col-sm-1{
        grid-column-end: $span1;
    }
    .col-sm-2{
        grid-column-end: $span2;
    }
    .col-sm-3{
        grid-column-end: $span3;
    }
    .col-sm-4{
        grid-column-end: $span4;
    }
    .col-sm-5{
        grid-column-end: $span5;
    }
    .col-sm-6{
        grid-column-end: $span6;
    }
    .col-sm-7{
        grid-column-end: $span7;
    }
    .col-sm-8{
        grid-column-end: $span8;
    }
    .col-sm-9{
        grid-column-end: $span9;
    }
    .col-sm-10{
        grid-column-end: $span10;
    }
    .col-sm-11{
        grid-column-end: $span11;
    }
    .col-sm-12{
        grid-column-end: $span12;
    }
}
@media (min-width: $sm) {
    .container {
        margin-right: $containerMarginSm;
        margin-left: $containerMarginSm;
    }
    .content-right-container,
    .content-left-container {
        grid-template-columns: $containerMarginSm 1fr $containerMarginSm;
    }
}

@media (min-width: $sm + 1){
    .container {
        margin-right: $containerMarginSm;
        margin-left: $containerMarginSm;
    }
    .content-right-container,
    .content-left-container {
        grid-template-columns: $containerMarginMd 1fr $containerMarginMd;
    }
    .col-md-1{
        grid-column-end: $span1;
    }
    .col-md-2{
        grid-column-end: $span2;
    }
    .col-md-3{
        grid-column-end: $span3;
    }
    .col-md-4{
        grid-column-end: $span4;
    }
    .col-md-5{
        grid-column-end: $span5;
    }
    .col-md-6{
        grid-column-end: $span6;
    }
    .col-md-7{
        grid-column-end: $span7;
    }
    .col-md-8{
        grid-column-end: $span8;
    }
    .col-md-9{
        grid-column-end: $span9;
    }
    .col-md-10{
        grid-column-end: $span10;
    }
    .col-md-11{
        grid-column-end: $span11;
    }
    .col-md-12{
        grid-column-end: $span12;
    }
}
@media (min-width: $md + 1) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: $lg + 1){
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    .content-right-container,
    .content-left-container {
        grid-template-columns: $containerMarginLg 1fr $containerMarginLg;
    }
    .col-lg-1{
        grid-column-end: $span1;
    }
    .col-lg-2{
        grid-column-end: $span2;
    }
    .col-lg-3{
        grid-column-end: $span3;
    }
    .col-lg-4{
        grid-column-end: $span4;
    }
    .col-lg-5{
        grid-column-end: $span5;
    }
    .col-lg-6{
        grid-column-end: $span6;
    }
    .col-lg-7{
        grid-column-end: $span7;
    }
    .col-lg-8{
        grid-column-end: $span8;
    }
    .col-lg-9{
        grid-column-end: $span9;
    }
    .col-lg-10{
        grid-column-end: $span10;
    }
    .col-lg-11{
        grid-column-end: $span11;
    }
    .col-lg-12{
        grid-column-end: $span12;
    }
}

@media (min-width: $xl + 1) {
    .container {
        margin-right: $containerXl;
        margin-left: $containerXl;
    }
}

// ROW GAP
.grid-row-gap-10 {
    grid-row-gap: $val10px;
}
.grid-row-gap-15 {
    grid-row-gap: $val15px;
}
.grid-row-gap-20 {
    grid-row-gap: $val20px;
}
